* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    background-color: #e5ebec;
    margin: 0;
    padding: 0;
    color: #063f3c;
  }
  

  nav {
    background-color: #161d20;
    color: #fff;
    padding: 10px 0;
  }
  
  nav ul {
    list-style-type: none;
    text-align: center;
  }
  
  nav ul li {
    display: inline;
    margin: 0 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #a75935;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
  }
  
  nav ul li a:hover {
    color: #2587a5; 
  }
  

  header {
    text-align: center;
    padding: 100px 0;
    background-image: url('your-background-image.jpg'); 
    background-size: cover;
    color: #fff;
  }
  
  header h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  header p {
    font-size: 1.5rem;
    font-weight: 300;
  }
  
  
  h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
  }
  
  
  .project {
    background-color: #fff;
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out;
  }
  
  .project:hover {
    transform: translateY(-5px); 
  }
  
  .project h3 {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 10px;
  }
  
  .project p {
    color: #666;
    margin-bottom: 20px;
  }
  
  .project a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #11525a;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
    transition: background-color 0.3s ease-in-out;
  }
  
  .project a:hover {
    background-color: #ff3300; 
  }
  
  
  #contact {
    text-align: center;
    padding: 100px 0;
    background-color: #333;
    color: #fff;
  }
  
  #contact a {
    color: #ff6600;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
  }
  
  #contact a:hover {
    color: #ff3300; 
  }
  
  
  footer {
    text-align: center;
    padding: 20px 0;
    background-color: #333;
    color: #fff;
  }
  
  
  @media (max-width: 768px) {
    header {
        padding: 80px 0;
    }
  
    header h1 {
        font-size: 2.5rem;
    }
  
    header p {
        font-size: 1.2rem;
    }
  
    .project {
        padding: 15px;
    }
  }